body{
    background-color: antiquewhite;
    margin: 0;
    padding: 30px 0;
}
.listado-comics{
    display: inline-flex;
    flex-direction: column;
}
.listado-comics a{
    padding: 15px;
    border: 1px solid;
    margin: 2px;
}